.container{
    height: 350px;
    width: 300px;
    background-color: rgb(152, 190, 190);
   
}
form{
    height: 200px;
    width: 200px;
    margin: auto;
    margin-top: 100px;
   
   
}
.btnSubmit{
    width: 50%;
    border-radius: 2px;
    padding: 5px;
    border: none;
    cursor: pointer;
    
    border: none;
    border-radius: 5px;
}
.form-group{
    padding: 10px;
}