<app-header></app-header>
<div>
    <div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Customer Name</th>
                    <th scope="col">Items Name</th>
                    <th scope="col">Item Cost</th>
                    <th scope="col">Total Cost</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let x of data">
                    <td>{{x.id}}</td>
                    <td>{{x.firstName}} {{x.lastName}}</td>
                    <td>
                        <p *ngFor="let order of x.orders">{{order.productName}}</p>
                    </td>

                    <td>
                        <p *ngFor="let order of x.orders">${{order.itemCost}}</p>
                    </td>
                    <td>${{x.totalCost|number}}</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>