<p>dynamicform works!</p>
<div [formGroup]="form">
    <div *ngFor="let d of formFields">
        <div *ngIf="d.type!=='radio'">
            <label [for]="d.name">{{d.label}}</label>
        <input [type]="d.type" [formControlName]="d.name"/>
        </div>
        <div *ngIf="d.type==='radio'">
            <div *ngFor="let e of d.options">
                <input type="radio" [value]="e" [formControlName]="d.name" [name]="d.name"/>
                <label>{{e}}</label>
              </div>
        </div>
    </div>
    <button (click)="onSubmit()">click</button>
</div>
<main>
    <button>check</button>
</main><br>

<div><button (click)="addrows()">add rows</button></div>



  <table class="table">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">name</th>
        <th scope="col">email</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let r of row let i = index">
        <td><input type="text"  #data1></td>
        <td><input type="text" #data2></td>
        <td><input type="text" #data3></td>
        <button (click)="delete()">clear</button>
      </tr>
    </tbody>
  </table>

  <div>
    <input [(ngModel)]="myData">
    <button (click)="deleteData()">delete</button>
  </div>

 <ng-container>
  <ul>
    <li *ngFor="let i of items">
      <strong>{{i}}</strong>
    </li>
  </ul>
  <button (click)="removeItem(items)">Remove</button>
 </ng-container>

 <button (click)="convert()">convert</button>

<div>
  <form [formGroup]="exampleForm">
    <input type="text" formControlName="name">
    <input type="text" formControlName="age">
  </form>
</div>

<app-charts></app-charts>