.container{
    height: 300px;
    width: 500px;  
    background-color: rgb(218, 231, 231);
    margin-top: 80px;
   
}
.login{
    text-align: center;
}
button{
    width: 92%;
    margin-top: 30px;
    border-radius: 2px;
    padding: 5px;
    border: none;
    cursor: pointer;   
    border: none;
    border-radius: 5px;
  
}

.form-control{
    width: 50%;
}
.header{
    background-color:  #007af8;
}
.navbar-brand{
    color: white;
    font-weight: bold;
    font-size: 25px;
    margin-left: 15px;
}


h3{
    padding-top: 10px;
}
.ul li{
    color: white;
}
.btn{
    color: gray;
    font-weight: bold;
}
.text{
    color: white;
    margin-left: 50px ;
    font-weight: bold;
    margin: 0;

}
li a{
    cursor: pointer;
}

 body{
    font-family: 'Poppins', sans-serif;
    background-color: #007af8;
 }
.content{
    margin: 8%;
    background-color: #fff;
    padding: 4rem 1rem 4rem 1rem;
    box-shadow: 0 0 5px 5px rgba(0,0,0, .05);
}
.signin-text{
    font-style: normal;
    font-weight: 600;

}
.form-control{
    display: block;
    width: 100%;
    font-size: 1 rem;
    font-weight: 400;
    background-color: #fff;
    background-clip: padding-box;
}
.form-control:focus{
    color: #007af8;
    box-shadow: none;
}
.btn{
    color: white;
    margin-top: 20px;
    margin-left: 30px;
}
.pass-icon{
    position: absolute;
    top: 331px;
    right: 440px;
    color:grey;
    cursor: pointer;
    
}
.error-msg{
    color: red;
}