<nav class="navbar navbar-expand-lg header">
  <div class="container-fluid">
    <img class="logo1" src="assets/people.png">
    <a class="navbar-brand">Customer Manager</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse menu" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      </ul>
    </div>
  </div>
</nav>
<div class="container-fluid">


  <div class="row content" style="width: 750px; height: 400px; margin: auto; margin-top: 50px;">
    <div class="col-md-6 mb-3">
      <img src="assets/login.webp" class="img-fluid">

    </div>
    <div class="col-md-6">
      <h2 class="signin-text mb-6">Login</h2>
      <form [formGroup]="loginfrm" (ngSubmit)="CheckUser()">
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" class="form-control" name="uname" formControlName="uname" autocomplete="off"
          [class.is-invalid]="username?.invalid && (username?.dirty || username?.touched)">
          <div *ngIf="username?.invalid && (username?.dirty || username?.touched)" class="invalid-feedback">
            <div *ngIf="username?.errors?.['required']">
              Username is required.
            </div>
          </div>
        </div><br>
       
        <div class="form-group">
          <label for="password">Password</label>
          <input [type]="isPasswordVisible ? 'text' : 'password'"
           class="form-control" name="pwd" id="pwd" formControlName="pwd"
          >
        </div>
        <!-- <span *ngIf="(loginfrm.controls.pwd.touched)" class="error-msg">Password is required</span> -->
        <span (click)="passwordVisibility()" class="pass-icon">
           <i [ngClass]="{'fas': true, 'fa-eye' : !isPasswordVisible, 'fa-eye-slash':isPasswordVisible}"></i> 
         </span>
        <div style="margin-left: -30px;">
          <button type="submit" class="btn btn-primary">Login</button>
        </div>
      </form>
    </div>
  </div>

  <!-- <span class="validation-error" *ngIf="(formSubmitted || registrationFormGroup.controls.name.touched) && registrationFormGroup.controls.name.errors?.required">Name is required</span> -->

  
