<nav class="navbar navbar-expand-lg header">
  <div class="container-fluid">
    <img class="logo1" src="assets/people.png">
    <a class="navbar-brand">Customer Manager</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse menu" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      </ul>
    </div>
  </div>
</nav>
<div class="container-fluid">





  <div class="row content" style="width: 750px; height: 400px; margin: auto; margin-top: 50px;">
    <div class="col-md-6 mb-3">
      <img src="../../assets/login.webp" class="img-fluid">

    </div>
    <div class="col-md-6">
      <h2 class="signin-text mb-6">Login</h2>
      <form>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" name="email" class="form-control" name="email" [(ngModel)]="email">
          <div style="color: rgb(218, 7, 7);">{{erroremail}}</div>
        </div><br>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" name="password" class="form-control" name="password" [(ngModel)]="password">
          <div style="color: rgb(218, 7, 7);">{{errorpassword}}</div>
        </div>
        <div style="margin-left: -30px;">
          <button class="btn btn-primary" (click)="loginUser()">Login</button>
        </div>
      </form>

    </div>

  </div>