<div>
    <button  routerLink="../details" routerLinkActive='active'><i class="fa fa-list subheader"></i> Customer Details</button>
    <button routerLink="../vieworders" routerLinkActive='active'><i class="fa fa-tag subheader"></i> Customer Orders</button>
    <button routerLink="../edit" routerLinkActive='active'><i class="fa fa-pencil-square-o subheader"></i> Edit Customer</button>
</div>

<!-- <div>
    <button [routerLink]="['/DetailsComponent' ,data.id]" routerLinkActive='active'><i class="fa fa-list subheader"></i> Customer
        Details</button>
    <button routerLink="['/OrdersComponent' ,data.id]" routerLinkActive='active'><i class="fa fa-tag subheader"></i> Customer Orders</button>
    <button routerLink="['/EditComponent/:id' ,data.id]" routerLinkActive='active'><i class="fa fa-pencil-square-o subheader"></i> Edit Customer</button>
    <button routerLink="../edit" routerLinkActive='active'><i class="fa fa-pencil-square-o subheader"></i> Edit Customer</button> -->
<!-- </div> -->
