<app-header></app-header>
<div class="container-fluid">
     <div class="pic">
        <img class="logo" src="./assets/pro.jpg">
        <h2>Customers</h2>
   </div>
   
 <div style="margin-left: 30px;">
      <button (click)="Cardview()"><fa-icon [icon]="myMicroSoftIcon"></fa-icon> Cardview</button>
      <button  (click)="Listview()"><fa-icon [icon]="myBarsIcon"></fa-icon> Listview</button>
      <button routerLink="/MapviewComponent"><fa-icon [icon]="myMapMarkerIcon"></fa-icon> Mapview</button>
      <button (click)="new()"><fa-icon [icon]="myPlusIcon"></fa-icon> New Customer</button>
 </div>  





   


