<app-header></app-header>
   <div class="row">
      <span class="col-auto p-2 bg-white btn" (click)="Cardview()"><fa-icon [icon]="myMicroSoftIcon"></fa-icon> Cardview</span>
      <span class="col-auto p-2 bg-white btn" (click)="Listview()"><fa-icon [icon]="myBarsIcon"></fa-icon> Listview</span>
      <span class="col-auto p-2 bg-white btn" routerLink="/MapviewComponent"><fa-icon [icon]="myMapMarkerIcon"></fa-icon> MapView</span>
      <span class="col-auto p-2 bg-white btn" (click)="new()"><fa-icon [icon]="myPlusIcon"></fa-icon> New Customer</span>
  
  <!-- <button routerLink="/customerdata">Customerdata</button> -->
   </div>


  >



   


