<app-header></app-header>
<div class="container-fluid">
     <div class="pic">
          <img class="logo" src="./assets/pro.jpg">
          <h2>Customers</h2>
     </div>

     <div style="margin-left: 20px;">
          <button routerLink="/CardviewComponent" routerLinkActive='active'>
               <fa-icon [icon]="myMicroSoftIcon"></fa-icon> Cardview
          </button>
          <button routerLink="/ListviewComponent" routerLinkActive='active'>
               <fa-icon [icon]="myBarsIcon"></fa-icon> Listview
          </button>
          <button routerLink="/MapviewComponent" routerLinkActive='active'>
               <fa-icon [icon]="myMapMarkerIcon"></fa-icon> Mapview
          </button>
          <button routerLink="/NewCustomer" routerLinkActive='active'>
               <fa-icon [icon]="myPlusIcon"></fa-icon> New Customer
          </button>
     </div>