
button{
    margin: 10px;
    border: none;
    background: transparent;
    font-size: 16px;
    color: grey;
    
}
.logo{
    padding: 10px;
    height: 50px;
    width: 50px;
}
.pic{
    display: flex;
}
h2{
    padding-top: 10px;
}
.active{
   color: black;
   font-weight: bold;
  
}