/* button{
    border: none;
    margin: 20px;
    font-size: 17px;
    background: transparent;
    font-weight: bold;
} */
button{
    border: none;
    margin-left: 20px;
    font-size: 17px;
   
}
.logo{
    padding: 10px;
    height: 50px;
    width: 50px;
}
.pic{
    display: flex;
}
h2{
    padding-top: 10px;
}