button{
    border: none;
    margin-left: 20px;
    font-size: 17px;
    background: transparent;
    color: gray;
   
}
.logo{
    padding: 10px;
    height: 50px;
    width: 50px;
}
.pic{
    display: flex;
}
h2{
    padding-top: 10px;
}
.active{
    color: black;
    /* font-weight: bold; */
   
 }

 .data {
    
    display: flex;
   
}

img {
    height: 100px;
    width: 100px;
    padding: 10px;
    margin-left: 50px ;
}
