<app-header></app-header>
<!-- <h1 *ngFor = "let d of allCustomers">{{d.firstName}}</h1> -->
<div class="container">  
  <form>
    <div class="mb-3">
      <label for="txtName" class="form-label">Id</label>
      <input type="text" name="name"  class="form-control" id="txtName" />
    </div>
    <div class="mb-3">
      <label for="txtName" class="form-label">First Name</label>
      <input type="text" name="name"  class="form-control" id="txtName" />
    </div>
    <div class="mb-3">
      <label for="txtName" class="form-label">Last Name</label>
      <input type="text" name="name"  class="form-control" id="txtName" />
    </div>
    <div class="mb-3">
      <label for="txtName" class="form-label">Gender</label>
      <input type="text" name="name"  class="form-control" id="txtName" />
    </div>
    <div class="mb-3">
      <label for="txtName" class="form-label">State</label>
      <input type="text" name="name"  class="form-control" id="txtName" />
    </div>
    <div class="mb-3">
      <label for="txtName" class="form-label">City</label>
      <input type="text" name="name"  class="form-control" id="txtName" />
    </div>
    <div class="mb-3">
      <label for="txtName" class="form-label">Address</label>
      <input type="text" name="name"  class="form-control" id="txtName" />
    </div>
    <div class="mb-3">
      <label for="txtPrice" class="form-label">Orders</label>
      <input type="number" name="price" class="form-control" id="txtPrice" />
    </div>
    <button type="button" class="btn btn-primary">Submit</button>
  </form>
</div>
