<app-header></app-header>
<div class="container-fluid">
  <div class="pic">
    <img class="logo" src="./assets/pro.jpg">
    <h2>Customers Information</h2>
  </div>

  <div>
    <button routerLink="../details"><i class="fa fa-list subheader"></i> Customer Details</button>
    <button routerLink="../vieworders"><i class="fa fa-tag subheader"></i> Customer Orders</button>
    <button routerLink="../edit"><i class="fa fa-pencil-square-o subheader"></i> Edit Customer</button>
  </div>


  <div class="container" style="margin-top: 30px;">
    <div class="row">

      <div class="col-md-6">
        <label for="txtName" class="form-label">FirstName</label>
        <input type="text" name="firstName" [(ngModel)]="productForm.firstName" class="form-control" id="txtName" />
      </div>
      <div class="col-md-6">
        <label for="txtName" class="form-label">LastName</label>
        <input type="text" name="lastName" [(ngModel)]="productForm.lastName" class="form-control" id="txtName" />
      </div>
      <div class="col-md-6">
        <label for="txtName" class="form-label">Gender</label>
        <input type="text" name="Gender" [(ngModel)]="productForm.gender" class="form-control" id="txtName" />
      </div>
      <div class="col-md-6">
        <label for="txtName" class="form-label">Address</label>
        <input type="text" name="Name" [(ngModel)]="productForm.address" class="form-control" id="txtName" />
      </div>

      <div class="col-md-6">
        <label for="txtName" class="form-label">State</label>
        <input type="text" name="state" [(ngModel)]="productForm.state.name" class="form-control" id="txtName" />
      </div>
      <div class="col-md-6">
        <label for="txtName" class="form-label">Abbreviation</label>
        <input type="text" name="abbreviation" [(ngModel)]="productForm.state.name" class="form-control" id="txtName" />
      </div>
      <div class="col-md-6">
        <label for="txtName" class="form-label">City</label>
        <input type="text" name="city" [(ngModel)]="productForm.city" class="form-control" id="txtName" />
      </div>
      <div style="display:flex;">
        <button type="button" (click)="update()" class="btn btn-primary" style="margin-top:20px;  width: 50%;">Update</button>
        <button type="button" (click)="delete()" class="btn btn-danger" style="margin-top: 20px; width: 50%; ">Delete</button>
      </div>

    </div>
  </div>