<app-header></app-header>
 <div class="row">
     <span class="col-auto p-2 bg-white btn"><i class="fa fa-list subheader"><b> Customer Details</b> </i></span>
    <div class="col-auto p-2 bg-white btn" ><i class="fa fa-tag subheader">Customer Orders</i>
      </div>
       <span class="col-auto p-2 bg-white btn" ><i class="fa fa-pencil-square-o subheader"><b> Edit Customer</b> </i></span>
   </div>
 
<div class="data">
      <div>
           <img *ngIf="customer.gender === 'male'" src="../../assets/male.png">
           <img *ngIf="customer.gender === 'female'" src="../../assets/female.png">
      </div>
        <div>
              {{customer.firstName}}
              {{customer.lastName}}<br>
              {{customer.address}}<br>
              {{customer.city}}
              {{customer.state.name}}
        </div>
</div>

