.box {
   display: flex;
   flex-wrap: wrap;
   width: 100%;
}

.container {
   width: 250px;
   height: 115px;
   border: 1px solid black;
   flex-wrap: wrap;
   position: relative;
   padding: 0%;
   margin-left: 30px;
   margin-bottom: 10px;
   margin-top: 10px;
}

.logo {
   height: 35px;
   width: 35px;
}

.cb {
   margin-top: -60px;
   margin-left: 90px;
   font-family: sans-serif;
   font-size: 14px;
}

.name {
   color: white;
   margin: 7px;
}